---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'> & {
  href: string;
};

const { href, class: className, ...props } = Astro.props;
const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>
<style>
  a {
    font-family: var(--font-mono);
    font-size: 0.9rem;
    color: var(--text-muted);
    text-decoration: none;
    transition: color 0.2s;
  }
  a:hover, a.active {
    color: var(--accent);
  }
</style>
